@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Playwrite+DE+Grund:wght@100;200;300;400&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
}

.center {
    text-align: center;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.image {
  margin: 10px; 
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background: #f2dea2;
    color: #fcfbfa;
}

body {
    background-color: #fcfbfa;
    font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
    font-size: 22px; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #fcfbfa;
}
nav a {
  text-align: center;
  background-color: #646d7f;
  color: #f2dea2;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
    background-color: #646d7f;
    color: #fcfbfb;
}

.home-title {
    background: #646d7f;
    color: #f2dea2;
    font-family: "Playwrite DE Grundschrift";
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    background-color: #646d7f;
    color: #fcfbfb;
}

.book, .join {
    text-align: center;
    background-color: #646d7f;
    color: #f2dea2;
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px; 
    border-radius: 5px;
}

.book:hover {
  background-color: antiquewhite;
}
.join:hover {
    background-color: #646d7f;
    color: #f2dea2;
}

.msg {
    background-color: #646d7f;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    background: #8d9199;
    color: #fcfbfb;
    font-family: "Playwrite DE Grundschrift";
}

.msg p {
    background: #908e88;
    color: #fcfbfb;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background: #666c7d;
    color: #fcfbfb;
    font-size: 1.2em;
    padding: 25px 50px;
}

footer a {
    text-align: center;
    background: #646d7f;
    color: #edebe4;
    text-decoration: none;
}

footer a:hover {
    background: #fcfbfb;
    color: #fcfbfb;
}

footer .social img {
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.RRR {
    width: 80px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #646d7f;
}

*, *::before, *::after {
  box-sizing: border-box;
}
