@import url('https://fonts.googleapis.com/css2?family=Roboto, Helvetica, sans-serif, Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Playwrite+DE+Grund:wght@100;200;300;400&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
}

.home-title, .information{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: rgba(233, 212, 181, 0.319) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
a:hover{
    background-color: rgb(161, 143, 119);
    color: #022512d2;
}
.home-title{
    color:rgb(161, 143, 119);
}
h4{
    color: black;
}
.book, .join{
    color: rgb(161, 143, 119);
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.hx{
    color: rgb(161, 143, 119);
}
.msg p{
    color: black;
    font-family: 'Helvetica';
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}
footer a{ 
    color:rgb(132, 52, 52);
    text-decoration: none;
}
footer a:hover{
    color: rgb(161, 143, 119);
}
.icon, .logo{
    width: 80px;
    padding-top: 10px;
}
nav a{
    text-decoration: none;
    padding: 35px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.home-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    padding-top: 35px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
main section img{
    box-sizing: border-box;
} 

/* Step 1: Header Grid */
header{
    background-color:antiquewhite ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    background-color:antiquewhite ;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Step 2 & 3: Overlap Her with Nav*/
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4{
    color: rgb(161, 143, 119);
    justify-self: center;
    align-self: center;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

/* Step Four: Main Grid */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
/* Step 5: Footer Layout */
footer{
    color: rgb(132, 52, 52);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Step 6: Enhancements*/
.card-img{
    border: 10px solid #274543;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #e4f8d2;
}
.card-img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.msg{
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #e4f8d2;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5pc 5pc 10pc #99bd79;
}

.card-img, .mountains {
    width: 100%;
}

/*blog layout*/

h1 {
    text-align: center;
}

.text {
    text-align: justify;
    margin: 30px;
}  

.bighorn-ram {  
    width: 50%;
    justify-self: center;
    align-self: center;
    display: grid;
    place-items: center;

}

#river-wide_blog_2 {
    width: 100%;

}
/* Step 7: */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

